

// 評論區塊卡片
.recommendation-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 30px;
    min-width: 350px;
    background-color: #FFFFFF;
}
  
.recommendation-card img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
  
.recommend-content {
    padding-left: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
  
.recommend-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 3px;
}
  
.recommend-img img {
    width: 40px;
    border-radius: 50%;
    margin-right: 8px;
}
  
.recommend-text {
    font-size: 0.875rem;
    color: #6A33F8;
}



// 運送方式區塊卡片
.transport-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
  
.transport-card .cardImg {
    width: 115px;
    height: 115px;
    border: 3px solid #000000;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 8px;
}
  
.transport-card .material-icons {
    font-size: 50px;
}
  
.transport-card h4 {
    font-size: 1.25rem;
    font-weight: bold;
}
  
@media (max-width: 767px) {
    .transport-card .cardImg {
      width: 150px;
      height: 150px;
    }
}
  



// 產品區塊卡片

.productCard {
    position: relative;
    margin-right: 2%;
    width: 23%;
    margin-bottom: 30px;
}
  
.productCard img {
    min-height: 300px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
  
.productCard a {
    display: block;
    background-color: #000000;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
    border: none;
    margin-bottom: 8px;
    text-decoration: none;
}
  
.productCard a:hover {
    background-color: #301E5F;
}
  
.productCard a, .productCard h3 {
    font-size: 1.25rem;
}
  
@media (max-width: 900px) {
    .productCard {
      width: 48%;
    }
}
  
@media (max-width: 540px) {
    .productCard {
      width: 100%;
    }
}