// 購物車按鈕
.discardBtn {
    text-align: right;
}
  
.discardBtn a {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    font-size: 2rem;
    color: #000000;
}
  
.discardBtn a:hover {
    color: #6A33F8;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
}
  
.discardAllBtn {
    display: inline-block;
    text-decoration: none;
    padding: 5px 15px;
    color: #000000;
    border: 1.3px solid #000000;
    border-radius: 5px;
    font-size: 1.25rem;
}
  
.discardAllBtn:hover {
    background-color: #000000;
    color: #FFFFFF;
}
  



// 表單按鈕  
.orderInfo-btn {
    display: block;
    min-width: 255px;
    min-height: 48px;
    background-color: #000000;
    color: #FFFFFF;
    border: 0;
    cursor: pointer;
    font-size: 1.25rem;
    margin: 50px auto 0;
    border-radius: 5px;
}
  
.orderInfo-btn:hover {
    background-color: #301E5F;
}
  


// 後台 - 訂購表單按鈕
.delSingleOrder-Btn:hover {
    opacity: 0.8;
}


.orderPage-list .discardAllBtn {
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-bottom: 12px;
}
  
 
.delSingleOrder-Btn {
    display: block;
    background-color: #C44021;
    color: #fff;
    border: 0;
    padding: 5px 10px;
    cursor: pointer;
}