
// 後台
.orderPage-list {
    padding: 60px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
  
 
  
  
.orderStatus {
    position: relative;
}
  
.orderStatus a {
    position: absolute;
    padding: 10px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: block;
    text-decoration: none;
}
  
.orderStatus-unDone {
    background-color: #747474;
}
  
.orderStatus-unDone:hover {
    background-color: #000000;
}
  
.orderStatus-done {
    background-color: #000000;
}
  
.orderStatus-done:hover {
    background-color: #747474;
}
  
.orderTableWrap {
    overflow-x: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}
  
.orderTableWrap::-webkit-scrollbar {
    display: none;
}
  