.input-group {
   justify-content: space-between;
   flex-wrap: nowrap;
   a {
   display: block;
   background:  #000000;
   font-size: 20px;
   text-decoration: none;
   color: white;
   padding: 0 10px;
  }

  input {
    text-align: center;
  }
}

.wrap {
  max-width: 1110px;
  margin: 0 auto;
}


.section-title {
  text-align: center;
  font-size: 1.75rem;
  margin-bottom: 30px;
}

// 床墊優勢區塊
.bedAdvantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
}

.bedAdvantage-img {
  max-height: 140px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 10px;
}

.bedAdvantage-text {
  text-align: center;
  font-size: 1.25rem;
}


// 家具比較區塊
.furniture-compare {
  background-color: #F8F8F8;
  padding: 50px 0 60px 0;
}

@media (max-width: 767px) {
  .furniture-compare {
    padding: 50px 15px 60px;
  }
}

@media (max-width: 767px) {
  .overflowWrap {
    overflow-x: scroll;
  }
}

.compare-table {
  width: 65%;
  margin: 0 auto;
}

.compare-table th, .compare-table td {
  text-align: center;
  padding: 15px 0;
}

.compare-table th {
  font-size: 1.25rem;
}

.compare-table tr {
  border-bottom: 1px solid #B9B9B9;
}

.compare-table tr td:first-child {
  text-align: left;
  font-size: 1.25rem;
}

.compare-table .material-icons {
  color: #6A33FF;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

@media (max-width: 767px) {
  .compare-table {
    width: 500px;
  }
  .compare-table th, .compare-table td {
    padding: 10px 0;
  }
  .compare-table th {
    font-size: 1rem;
  }
  .compare-table tr td:first-child {
    font-size: 1rem;
  }
}


// 推薦評論區塊
.recommendation {
  background-color: #301E5F;
  padding: 60px 0;
}

.recommendation h3 {
  color: #FFFFFF;
}

@media (max-width: 767px) {
  .recommendation {
    padding: 60px 15px;
  }
}

.recommendation-wall {
  overflow-x: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.recommendation-wall::-webkit-scrollbar {
  display: none;
}

.gallery-top, .gallery-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery-top {
  margin-left: 95px;
  margin-bottom: 20px;
}


// 運輸方式區塊
.transport {
  padding: 30px 0;
}

@media (max-width: 767px) {
  .transport li {
    margin-bottom: 20px;
  }
}

.transport-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 700px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .transport-intro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.transport-intro li:nth-child(1), .transport-intro li:nth-child(2), .transport-intro li:nth-child(3) {
  position: relative;
}

.transport-intro li:nth-child(1)::after, .transport-intro li:nth-child(2)::after, .transport-intro li:nth-child(3)::after {
  content: "";
  position: absolute;
  top: 49px;
  right: -55px;
  border: 10px solid #000000;
  border-top: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

@media (max-width: 767px) {
  .transport-intro li:nth-child(1)::after, .transport-intro li:nth-child(2)::after, .transport-intro li:nth-child(3)::after {
    position: static;
    margin-top: 25px;
    border: 10px solid #000000;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }
}


// 產品列表區塊
.productDisplay {
  padding: 30px 15px;
}

.productSelect {
  border: 1px solid #B9B9B9;
  color: #797979;
  min-height: 38px;
  min-width: 255px;
  border-radius: 5px;
  text-indent: 10px;
  margin-bottom: 30px;
}

.productWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}


.productType {
  position: absolute;
  top: 13px;
  right: -5px;
  background-color: #000000;
  color: #ffffff;
  padding: 8px 24px;
}

.originPrice {
  font-size: 1.25rem;
}

.nowPrice {
  font-size: 1.75rem;
}


// 購物車區塊
.shoppingCart {
  background-color: #F8F8F8;
  padding: 60px 0;
}

.shoppingCart-table {
  margin: 0 auto;
  border-collapse: collapse;
  font-size: 1.25rem;
}

.shoppingCart-table th, .shoppingCart-table td {
  padding: 15px;
  vertical-align: middle;
}

.shoppingCart-table th {
  text-align: left;
}



.shoppingCart-table tr:first-child, .shoppingCart-table tr:last-child {
  border-bottom: 0;
}

@media (max-width: 767px) {
  .shoppingCart-table {
    width: 700px;
  }
}

.cardItem-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cardItem-title img {
  margin-right: 15px;
  max-width: 80px;
}

.discardBtn {
  text-align: right;
}

.discardBtn a {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  font-size: 2rem;
  color: #000000;
}

.discardBtn a:hover {
  color: #6A33F8;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.discardAllBtn {
  display: inline-block;
  text-decoration: none;
  padding: 5px 15px;
  color: #000000;
  border: 1.3px solid #000000;
  border-radius: 5px;
  font-size: 1.25rem;
}

.discardAllBtn:hover {
  background-color: #000000;
  color: #FFFFFF;
}


// 表單區塊
.orderInfo {
  padding: 60px 0;
}

.orderInfo-form {
  padding: 0 15px;
}

.orderInfo-formGroup {
  max-width: 365px;
  margin: 0 auto 15px;
}

.orderInfo-label {
  display: block;
  margin-bottom: 6px;
}

.orderInfo-input {
  width: 100%;
  min-height: 38px;
  border: 1px solid #CED4DA;
  border-radius: 5px;
  text-indent: 1rem;
  margin-right: 10px;
}


.orderInfo-message {
  // position: absolute;
  white-space: nowrap;
  left: 103%;
  top: 50%;
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
  color: #C72424;
}

@media (max-width: 767px) {
  .orderInfo-message {
    position: static;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.orderInfo-btn {
  display: block;
  min-width: 255px;
  min-height: 48px;
  background-color: #000000;
  color: #FFFFFF;
  border: 0;
  cursor: pointer;
  font-size: 1.25rem;
  margin: 50px auto 0;
  border-radius: 5px;
}

.orderInfo-btn:hover {
  background-color: #301E5F;
}
